/* ==========================================
   MAIN STYLESHEET
   Imports all modules
   ========================================== */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import "modules/base.css";
@import "modules/effects.css";
@import "modules/responsive.css";
